services:

  app:
    build:
      context: .
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - my_media:/files/media
      - my_static:/files/static
    command:
      sh -c "python manage.py migrate &&
             python manage.py collectstatic --noinput &&
             python manage.py runserver 0.0.0.0:8000"

    depends_on:
      - db

  db:
    image: postgres:15.14-alpine3.22
    restart: always
    env_file:
      - .env
    volumes:
      - my_db:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  my_db:
  my_media:
  my_static:
